.highlights-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5% 0 5%;
}

#specials {
  color: black;
  margin-right: 19%;
  font-size: 35px;
}

.btn-specials {
  all: revert;
  background-color: #f4ce14;
  border-radius: 8px;
  border: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  width: 120px;
  height: 40px;
}

.btn-specials:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.card {
  background-color: lightgray;
  margin: 50px 0px 50px 0px;
  border-radius: 10px 10px 0px 0px;
  height: 460px;
  width: 220px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0px 30px 0px;
}

.card-text {
  font-family: sans-serif;
  color: black;
  padding: 0px 20px 0px 20px;
  height: 140px;
}

#name {
  width: 140px;
  margin-left: 15px;
}

#price {
  width: 40px;
  margin-right: 15px;
  color: orange;
}

#img-salad {
  height: 33%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

#img-bruchetta {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

#img-dessert {
  width: 100%;
  height: 33%;
  border-radius: 10px 10px 0px 0px;
}

.btn-highlights {
  background: lightgray;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
}

.btn-highlights:hover {
  font-weight: 850;
}

@media screen and (max-width: 1050px) {
  .cards-grid {
    gap: 20px;
  }

  .card {
    margin: 20px 0px 0px 0px;
  }

  .lemon-dessert {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  #specials {
    margin-right: 10%;
  }
}

@media screen and (max-width: 450px) {
  .highlights-sub {
    margin-top: 35px;
    margin-bottom: 40px;
    margin: 35px 5% 40px 5%;
  }

  #specials {
    margin-right: 5%;
    font-size: 25px;
  }

  .btn-specials {
    margin-right: 5%;
  }

  .cards-grid {
    gap: 30px;
    margin-bottom: 40px;
  }

  .card {
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 230px;
    width: 390px;
  }

  .card-text {
    padding: 0px 10px 15px 20px;
    font-size: 15px;
    height: 50px;
  }

  #name {
    margin-left: 20px;
  }

  #price {
    padding-left: 40%;
  }

  #img-salad,
  #img-bruchetta,
  #img-dessert {
    display: none;
  }
}
